body {
    overflow: scroll;
}
h1 {
    text-align: center;
    padding-top: 30px;
}

.input {
    text-align: center;
}
.input.hide {
    display: none;
}
.input p {
    display: inline-block;
}

.input input {
    display: block;
    width: 200px;
    margin: 0 auto;
    outline: none;
    text-align: center;
    border: 1px solid grey;
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}
.input input.error {
    border: 1px solid red;
    transition: border-color 0.3s ease 0s;
}
button {
    margin-top: 20px;
    padding: 5px;
    border-radius: 10px;
    font-size: 13px;
    outline: none;   
}
button:hover {
    font-size: 14px;
}

.game-wrapp {
    display: block;
    margin: 0 auto;
    padding: 20px;
    /* position: absolute;
    opacity: 0;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%); */
    z-index: -1;
}
.game-wrapp.start {
    opacity: 1;
    z-index: 1;
}
.game-item {
    width: 50px;
    height: 50px;
    display: inline-block;
    border: 1px solid black;
    box-sizing: border-box;
    background: transparent;
    transition: background 0.2s ease 0s;

}

.game-item.red {
    background: red;
}
.game-item.green {
    background: green;
}